<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Students Adaptibilty Level - Services</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/SAP-icon.png" rel="icon">
  <link href="static/img/SAP-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Nova
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/nova-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="page-services">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center">SAP</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html" class="active">Services</a></li>
          <li><a href="team.html">Team</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/img/services-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Services</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Services</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Our Services Section ======= -->
    <section id="services-list" class="services-list">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>

        </div>

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase" style="color: #f57813;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Adaptability Assessment</a></h4>
              <p class="description">Our machine learning model predicts students' adaptability levels in online education, allowing us to understand their unique learning needs.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist" style="color: #15a04a;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Personalized Learning Paths</a></h4>
              <p class="description">Based on the adaptability assessment, we create customized learning paths tailored to each student's strengths, weaknesses, and learning style.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart" style="color: #d90769;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Educational Analytics and Insights</a></h4>
              <p class="description">Our platform generates educational analytics and insights for students, parents, and educators, empowering data-driven decision making and continuous improvement.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="icon flex-shrink-0"><i class="bi bi-binoculars" style="color: #15bfbc;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Continuous Feedback and Support</a></h4>
              <p class="description">We provide ongoing feedback to students, highlighting their progress, offering constructive suggestions, and providing support whenever needed.</p>
            </div>
          </div><!-- End Service Item -->
        </div>

      </div>
    </section><!-- End Our Services Section -->

    <section id="contact" class="contact">
      <div class="container position-relative" data-aos="fade-up">
        <div class="section-header">
          <h2>Form</h2>
        </div>

            <form action="result.html" method="post" id="form1" class="form1">
              <div class="row">
                <div class="col-md-6 form-group">
                  <!-- <input type="text" name="gender" class="form-control" id="gender" placeholder="Gender" > -->
                  <select name ="gender" class="form-control" id="gender">
                    <option value="" disabled selected>Choose the gender</option>
                    <option Value = "Boy">Boy</option>
                    <option Value = "Girl">Girl</option>
                  </select>
                  
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <!-- <input type="number" class="form-control" name="age" id="age" placeholder="Age" > -->
                  <select name ="age" class="form-control" id="age">
                    <option value="" disabled selected>Choose the age range</option>
                    <option Value = "1-5">1-5</option>
                    <option Value = "6-10">6-10</option>
                    <option Value = "11-15">11-15</option>
                    <option Value = "16-20">16-20</option>
                    <option Value = "21-25">21-25</option>
                    <option Value = "26-30">26-30</option>
                  </select>
                </div>
                <br><br>
                <div class="col-md-6 form-group">
                  <!-- <input type="text" name="Education" class="form-control" id="Education" placeholder="Education" > -->
                  <select name ="Education" class="form-control" id="Education">
                    <option value="" disabled selected>Choose the education level</option>
                    <option Value = "University">University</option>
                    <option Value = "College">College</option>
                    <option Value = "School">School</option>
                  </select>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <!-- <input type="text" class="form-control" name="Institution" id="Institution" placeholder="Institution" > -->
                  <select name ="Institution"  class="form-control"  id="Institution">
                    <option value="" disabled selected>Choose the institution type</option>
                    <option Value = "Government">Government</option>
                    <option Value = "Non Government">Non Government</option>
                  </select>
                </div>
                <br><br>
                <div class="col-md-6 form-group">
                  <!-- <input type="text" name="IT Student" class="form-control" id="IT Student" placeholder="IT Student" > -->
                  <select name ="IT Student" class="form-control" id="IT Student">
                    <option value="" disabled selected>Choose the whether IT student or not</option>
                    <option Value = "IT">Yes</option>
                    <option Value = "Non-IT">No</option>
                  </select>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <!-- <input type="text" class="form-control" name="Location" id="Location" placeholder="Location" > -->
                  <select name ="Location" class="form-control" id="Location">
                    <option value="" disabled selected>Choose the location type for in town or not.</option>
                    <option Value = "In-town">Yes</option>
                    <option Value = "Out-town">No</option>
                  </select>
                </div>
                <br><br>
                <div class="col-md-6 form-group">
                  <!-- <input type="text" name="Load-shedding" class="form-control" id="Load-shedding" placeholder="Load-shedding" > -->
                  <select name="Load-shedding" class="form-control" id="Load-shedding">
                    <option value="" disabled selected>Choose the load shedding status.</option>
                    <option Value = "High">High</option>
                    <option Value = "Low">Low</option>
                  </select>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <!-- <input type="text" class="form-control" name="Financial Condition" id="Financial Condition" placeholder="Financial Condition" > -->
                  <select class="form-control" name="Financial Condition" id="Financial Condition">
                    <option value="" disabled selected>Choose the financial condition.</option>
                    <option Value = "Mid">Mid</option>
                    <option Value = "Poor">Poor</option>
                    <option Value = "Rich">Rich</option>
                  </select>
                </div>
                <br><br>
                <div class="col-md-6 form-group">
                  <!-- <input type="text" name="Internet Type" class="form-control" id="Internet Type" placeholder="Internet Type" > -->
                  <select name="Internet Type" class="form-control" id="Internet Type">
                    <option value="" disabled selected>Choose the internet type.</option>
                    <option Value = "Wifi">Wifi</option>
                    <option Value = "Mobile Data">Mobile Data</option>
                  </select>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <!-- <input type="text" class="form-control" name="Network Type" id="Network Type" placeholder="Network Type" > -->
                  <select class="form-control" name="Network Type" id="Network Type">
                    <option value="" disabled selected>Choose the network connectivity type.</option>
                    <option Value = "4G">4G</option>
                    <option Value = "3G">3G</option>
                    <option Value = "2G">2G</option>
                  </select>
                </div>
                <br><br>
                <div class="col-md-6 form-group">
                  <!-- <input type="text" name="Class Duration" class="form-control" id="Class Duration" placeholder="Class Duration" > -->
                  <select name="Class Duration" class="form-control" id="Class Duration">
                    <option value="" disabled selected>Choose the class duration.</option>
                    <option Value = "3-6">3-6</option>
                    <option Value = "1-3">1-3</option>
                    <option Value = "0">0</option>
                  </select>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <!-- <input type="text" class="form-control" name="Self Lms" id="Self Lms" placeholder="Self Lms" > -->
                  <select class="form-control" name="Self Lms" id="Self Lms">
                    <option value="" disabled selected>Choose the Institution's own LMS availability.</option>
                    <option Value = "No">No</option>
                    <option Value = "Yes">Yes</option>
                  </select>
                </div>
                <br><br>
                <div class="col-md-6 form-group">
                  <!-- <input type="text" name="Device" class="form-control" id="Device" placeholder="Device" > -->
                  <select name="Device" class="form-control" id="Device">
                    <option value="" disabled selected>Choose the Institution's own LMS availability.</option>
                    <option Value = "Tab">Tab</option>
                    <option Value = "Mobile">Mobile</option>
                    <option Value = "Computer">Computer</option>
                  </select>
                </div>
                <br><br><br>
                <div>
                  <button class="sub_button" type="submit" value="Predict">Submit</button>          
                </div>
              </div>
              <br>
            </form>

   </section><!-- End Contact Section -->
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>SAP</span>
            </a>
            <p>The best place for gaining data driven insights regarding a students adaptibilty level in online education.</p>
            <div class="social-links d-flex  mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="index.html">Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="about.html">About us</a></li>
              <li><i class="bi bi-dash"></i> <a href="services.html">Services</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="services.html">Adaptability Assessment</a></li>
              <li><i class="bi bi-dash"></i> <a href="services.html">Personalized  Learning Paths</Param></a></li>
              <li><i class="bi bi-dash"></i> <a href="services.html">Educational Insights</a></li>
              <li><i class="bi bi-dash"></i> <a href="contact.html">Feedback and Support</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              VIT Chennai Vandalur-Kelambakkam Road <br>
              CHennai, Tamil Nadu 600127<br>
              India <br><br>
              <strong>Phone:</strong> +91 xxxxxxxxxx<br>
              <strong>Email:</strong> placeholder@example.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer --><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>